@model IList<AcademyWebEF.BusinessEntities.Course>

@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <h2>Courses list <a href="@Url.Action("CourseEditor","Course")" style="float:right;" class="btn btn-primary">Add Course</a></h2>
        <table class="table table condensed">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Duration</th>
                    <th></th>
                    <th></th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.CourseTitle</td>
                        <td>@course.Price</td>
                        <td>@course.DurationInDays (days)</td>

                        <td>
                            <a href="@Url.Action("CourseRO","Course",new{courseId = course.CourseId})">View</a>
                            <a href="@Url.Action("EditCourse","Course",new{courseId = course.CourseId})">Edit</a>
                            <a href="#" onclick="deleteCourse(@course.CourseId)">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function deleteCourse(courseId) {

        var deleteCourseUrl = "https://localhost:7202/Course/DeleteCourse";

        var deleteCourseData = { courseId: courseId };

        // Send the JSON data using $.post()
        $.post(deleteCourseUrl, deleteCourseData,
            function (response) {
                i
                if (response) {
                    // Success callback
                    $("#coursesList").find("#" + courseId).remove();
                }
                else {
                    alert("Fail to delete a course, please contact admin!");
                }


            }, 'json')
            .fail(function (xhr, status, error) {
                // Error callback
                console.error('Error:', error);
            });

        //$.post({
        //    url: deleteStudentUrl,
        //    data: deleteStudentData, // Convert the JavaScript object to a JSON string
        //    contentType: 'application/json', // Set the content type to indicate JSON data
        //    dataType: 'json', // Expected data type of the response from the server
        //    success: function (response) {
        //        // This function will be executed when the server responds successfully
        //        $("#studentsList").find("#" + studentId).remove();
        //    },
        //    error: function (xhr, status, error) {

        //        // This function will be executed if an error occurs during the request
        //        //console.error('Error:', error);
        //    }
        //});
    }
</script>